<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化，float方式
        </title>
        <style>
            div{
                box-sizing: border-box;
                text-align: center;
                height: 600px;
                padding-top: 30%;
            }
            .right{
                background-color: #DBEEFF;
                float: right;
                width: 300px;
            }
            .left{
                background-color: #B7DDFF;
            }
        </style>
    </head>
    <body>
        <div class="right">
            <p>右侧固定宽度</p>
        </div>
        <div class="left">
            <p>左侧根据浏览器宽度进行自适应变化</p>
        </div>
    </body>
</html>